body{
    background-color: #1A237E;
}

.Header {
    color: rgb(255, 255, 255) !important;
    margin-top: 20% !important;
    margin-bottom: 10% !important;
    text-align: center !important;
}

.container{
    text-align: center !important;
    width:100%;
    background-color: #1A237E;
}

.row{
    margin: 5px;
}

.deleteBtn{
    width:58%;
}

.status{
   color: white;
   width:58%;
   margin:auto;
   border-radius: 5px;
   padding: 20px 0 20px 0;
   margin-bottom: 20px; 
}
.playStatus{
    background-color :#1565C0;
    -webkit-box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 4px 5px 20px 8px rgba(70,149,255,0.81); 
    box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 4px 5px 20px 8px rgba(70,149,255,0.81);
   
}

.winStatus{
    background-color :#43A047;
    -webkit-box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 4px 5px 20px 8px rgba(70,149,255,0.81); 
    box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 4px 5px 20px 8px #43A047;
   
 }

 .tieStatus{
    background-color :#f44336;
    -webkit-box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 4px 5px 20px 8px rgba(70,149,255,0.81); 
    box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 4px 5px 20px 8px #f44336;
   
 }

